
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https://projects.verou.me/css3patterns/ */

body{
background-color: rgb(79, 176, 176) !important;
background-image: linear-gradient(transparent 50%, rgba(108, 84, 84, 0.5) 50%) !important;
background-size: 50px 50px !important;
}

h1,
h2 {
  background-color: rgb(0, 0, 0) ;
  border-radius: 20px;
  color: white;
  width: 500px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 5px solid  black;
  border-radius: 30px;
}
